* {
   margin: 0;
}

body {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background: #f1f5f9;
   line-height: 1.5;
}

.section {
   padding: 5rem 0;
   background: #fff;
}

.section-title {
   text-align: center;
   text-transform: capitalize;
}

.title-underline {
   width: 20px;
   height: 10px;
   background: crimson;
   margin: 0 auto;
   margin-bottom: 1.5rem;
}

.section-center {
   width: 90vm;
   margin: 0 auto;
   max-width: 1170px;
   
}